USE [master]
GO
/****** Object:  Database [EntrepotVente]    Script Date: 02/05/2025 11:33:01 ******/
CREATE DATABASE [EntrepotVente]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EntrepotVente', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EntrepotVente.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EntrepotVente_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EntrepotVente_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EntrepotVente].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EntrepotVente]
GO
/****** Object:  User [NT SERVICE\MSSQLServerOLAPService]    Script Date: 02/05/2025 11:33:04 ******/
CREATE USER [NT SERVICE\MSSQLServerOLAPService] FOR LOGIN [NT SERVICE\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
/****** Object:  Schema [staging]    Script Date: 02/05/2025 11:33:05 ******/
CREATE SCHEMA [staging]
GO
/****** Object:  Table [dbo].[DIM_CLIENT]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CLIENT](
	[ID_Client] [int] IDENTITY(1,1) NOT NULL,
	[Code_Client] [varchar](20) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Telephone] [varchar](20) NULL,
	[Adresse] [varchar](150) NULL,
	[Ville] [varchar](50) NULL,
	[Region] [varchar](50) NULL,
	[Pays] [varchar](50) NULL,
	[Code_Postal] [varchar](10) NULL,
	[Date_Inscription] [date] NULL,
	[Segment_Client] [varchar](30) NULL,
	[Tranche_Age] [varchar](20) NULL,
	[Genre] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_DATE]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DATE](
	[ID_Date] [int] NOT NULL,
	[Date_Complete] [date] NOT NULL,
	[Jour] [int] NOT NULL,
	[Jour_Semaine] [varchar](10) NOT NULL,
	[Semaine] [int] NOT NULL,
	[Mois] [int] NOT NULL,
	[Nom_Mois] [varchar](20) NOT NULL,
	[Trimestre] [int] NOT NULL,
	[Annee] [int] NOT NULL,
	[Est_Jour_Ferie] [bit] NOT NULL,
	[Saison] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_EMPLOYE]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_EMPLOYE](
	[ID_Employe] [int] IDENTITY(1,1) NOT NULL,
	[Code_Employe] [varchar](20) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Date_Embauche] [date] NULL,
	[Fonction] [varchar](50) NULL,
	[Departement] [varchar](50) NULL,
	[Manager_ID] [varchar](20) NULL,
	[Salaire_Base] [decimal](10, 2) NULL,
	[Commission] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Employe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_MAGASIN]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_MAGASIN](
	[ID_Magasin] [int] IDENTITY(1,1) NOT NULL,
	[Code_Magasin] [varchar](20) NOT NULL,
	[Nom_Magasin] [varchar](100) NOT NULL,
	[Adresse] [varchar](150) NULL,
	[Ville] [varchar](50) NULL,
	[Region] [varchar](50) NULL,
	[Pays] [varchar](50) NULL,
	[Code_Postal] [varchar](10) NULL,
	[Type_Magasin] [varchar](30) NULL,
	[Surface] [decimal](10, 2) NULL,
	[Date_Ouverture] [date] NULL,
	[Gestionnaire] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Magasin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PRODUIT]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PRODUIT](
	[ID_Produit] [int] IDENTITY(1,1) NOT NULL,
	[Code_Produit] [varchar](20) NOT NULL,
	[Nom_Produit] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[Marque] [varchar](50) NULL,
	[Fournisseur] [varchar](50) NULL,
	[Categorie] [varchar](50) NULL,
	[Sous_Categorie] [varchar](50) NULL,
	[Prix_Achat] [decimal](10, 2) NULL,
	[Prix_Vente_Conseille] [decimal](10, 2) NULL,
	[Taille] [varchar](20) NULL,
	[Couleur] [varchar](20) NULL,
	[Poids] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAIT_VENTES]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAIT_VENTES](
	[ID_Vente] [int] IDENTITY(1,1) NOT NULL,
	[ID_Date] [int] NOT NULL,
	[ID_Produit] [int] NOT NULL,
	[ID_Magasin] [int] NOT NULL,
	[ID_Client] [int] NOT NULL,
	[ID_Employe] [int] NOT NULL,
	[Quantite_Vendue] [int] NOT NULL,
	[Prix_Unitaire] [decimal](10, 2) NOT NULL,
	[Montant_Total] [decimal](10, 2) NOT NULL,
	[Remise] [decimal](5, 2) NOT NULL,
	[Marge_Brute] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Vente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[customers]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[customers](
	[customer_code] [varchar](20) NULL,
	[last_name] [varchar](50) NULL,
	[first_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [varchar](150) NULL,
	[city] [varchar](50) NULL,
	[region] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[postal_code] [varchar](10) NULL,
	[registration_date] [date] NULL,
	[customer_segment] [varchar](30) NULL,
	[age_group] [varchar](20) NULL,
	[gender] [varchar](10) NULL,
	[date_chargement] [datetime] NULL,
	[source_systeme] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[dates]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[dates](
	[full_date] [date] NULL,
	[day] [int] NULL,
	[day_of_week] [varchar](10) NULL,
	[week_number] [int] NULL,
	[month] [int] NULL,
	[month_name] [varchar](20) NULL,
	[quarter] [int] NULL,
	[year] [int] NULL,
	[is_holiday] [bit] NULL,
	[season] [varchar](20) NULL,
	[date_chargement] [datetime] NULL,
	[source_systeme] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[employees]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[employees](
	[employee_code] [varchar](20) NULL,
	[last_name] [varchar](50) NULL,
	[first_name] [varchar](50) NULL,
	[hire_date] [date] NULL,
	[position] [varchar](50) NULL,
	[department] [varchar](50) NULL,
	[manager_code] [varchar](20) NULL,
	[base_salary] [decimal](10, 2) NULL,
	[commission_rate] [decimal](5, 2) NULL,
	[date_chargement] [datetime] NULL,
	[source_systeme] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[products]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[products](
	[product_code] [varchar](20) NULL,
	[product_name] [varchar](100) NULL,
	[description] [varchar](255) NULL,
	[brand] [varchar](50) NULL,
	[supplier] [varchar](50) NULL,
	[category] [varchar](50) NULL,
	[subcategory] [varchar](50) NULL,
	[purchase_price] [decimal](10, 2) NULL,
	[suggested_retail_price] [decimal](10, 2) NULL,
	[size] [varchar](20) NULL,
	[color] [varchar](20) NULL,
	[weight] [decimal](8, 2) NULL,
	[date_chargement] [datetime] NULL,
	[source_systeme] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[stores]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[stores](
	[store_code] [varchar](20) NULL,
	[store_name] [varchar](100) NULL,
	[address] [varchar](150) NULL,
	[city] [varchar](50) NULL,
	[region] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[postal_code] [varchar](10) NULL,
	[store_type] [varchar](30) NULL,
	[area] [decimal](10, 2) NULL,
	[opening_date] [date] NULL,
	[manager] [varchar](100) NULL,
	[date_chargement] [datetime] NULL,
	[source_systeme] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[transactions]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[transactions](
	[transaction_id] [int] NULL,
	[date_transaction] [datetime] NULL,
	[product_code] [varchar](20) NULL,
	[store_code] [varchar](20) NULL,
	[customer_code] [varchar](20) NULL,
	[employee_code] [varchar](20) NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](12, 2) NULL,
	[total_amount] [decimal](12, 2) NULL,
	[discount] [decimal](5, 2) NULL,
	[gross_margin] [decimal](10, 2) NULL,
	[date_chargement] [datetime] NULL,
	[source_systeme] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAIT_VENTES] ADD  DEFAULT ((0)) FOR [Remise]
GO
ALTER TABLE [staging].[customers] ADD  DEFAULT (getdate()) FOR [date_chargement]
GO
ALTER TABLE [staging].[dates] ADD  DEFAULT (getdate()) FOR [date_chargement]
GO
ALTER TABLE [staging].[employees] ADD  DEFAULT (getdate()) FOR [date_chargement]
GO
ALTER TABLE [staging].[products] ADD  DEFAULT (getdate()) FOR [date_chargement]
GO
ALTER TABLE [staging].[stores] ADD  DEFAULT (getdate()) FOR [date_chargement]
GO
ALTER TABLE [staging].[transactions] ADD  DEFAULT (getdate()) FOR [date_chargement]
GO
ALTER TABLE [dbo].[FAIT_VENTES]  WITH CHECK ADD FOREIGN KEY([ID_Client])
REFERENCES [dbo].[DIM_CLIENT] ([ID_Client])
GO
ALTER TABLE [dbo].[FAIT_VENTES]  WITH CHECK ADD FOREIGN KEY([ID_Date])
REFERENCES [dbo].[DIM_DATE] ([ID_Date])
GO
ALTER TABLE [dbo].[FAIT_VENTES]  WITH CHECK ADD FOREIGN KEY([ID_Employe])
REFERENCES [dbo].[DIM_EMPLOYE] ([ID_Employe])
GO
ALTER TABLE [dbo].[FAIT_VENTES]  WITH CHECK ADD FOREIGN KEY([ID_Magasin])
REFERENCES [dbo].[DIM_MAGASIN] ([ID_Magasin])
GO
ALTER TABLE [dbo].[FAIT_VENTES]  WITH CHECK ADD FOREIGN KEY([ID_Produit])
REFERENCES [dbo].[DIM_PRODUIT] ([ID_Produit])
GO
/****** Object:  StoredProcedure [dbo].[ETL_Extract_Customers]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Extract_Customers]
AS
BEGIN
    -- Nettoyer la table de staging
    TRUNCATE TABLE staging.customers;
    
    -- Insérer les données depuis la source
    INSERT INTO staging.customers (
        customer_code, last_name, first_name, email, phone, 
        address, city, region, country, postal_code, 
        registration_date, customer_segment, age_group, gender, 
        source_systeme
    )
    SELECT 
        customer_code, last_name, first_name, email, phone, 
        address, city, region, country, postal_code, 
        registration_date, customer_segment, age_group, gender, 
        'Système CRM'
    FROM Sourcesystem.crm.customers;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Extract_Employees]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Extract_Employees]
AS
BEGIN
    -- Nettoyer la table de staging
    TRUNCATE TABLE staging.employees;
    
    -- Insérer les données depuis la source
    INSERT INTO staging.employees (
        employee_code, last_name, first_name, hire_date, position,
        department, manager_code, base_salary, commission_rate,
        source_systeme
    )
    SELECT 
        employee_code, last_name, first_name, hire_date, position,
        department, manager_code, base_salary, commission_rate,
        'Système RH'
    FROM Sourcesystem.hr.employees;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Extract_Products]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Extract_Products]
AS
BEGIN
    -- Nettoyer la table de staging
    TRUNCATE TABLE staging.products;
    
    -- Insérer les données depuis la source
    INSERT INTO staging.products (
        product_code, product_name, description, brand, supplier, 
        category, subcategory, purchase_price, suggested_retail_price, 
        size, color, weight, source_systeme
    )
    SELECT 
        product_code, product_name, description, brand, supplier, 
        category, subcategory, purchase_price, suggested_retail_price, 
        size, color, weight, 'Système Inventaire'
    FROM Sourcesystem.inventory.products;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Extract_Stores]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Extract_Stores]
AS
BEGIN
    -- Nettoyer la table de staging
    TRUNCATE TABLE staging.stores;
    
    -- Insérer les données depuis la source
    INSERT INTO staging.stores (
        store_code, store_name, address, city, region, 
        country, postal_code, store_type, area, opening_date, 
        manager, source_systeme
    )
    SELECT 
        store_code, store_name, address, city, region, 
        country, postal_code, store_type, area, opening_date, 
        manager, 'Système Inventaire'
    FROM Sourcesystem.inventory.stores;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Extract_Transactions]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Extract_Transactions]
AS
BEGIN
    -- Nettoyer la table de staging
    TRUNCATE TABLE staging.transactions;
    
    -- Insérer les données depuis la source avec calcul de la marge brute
    INSERT INTO staging.transactions (
        transaction_id, date_transaction, product_code, store_code, 
        customer_code, employee_code, quantity, unit_price, 
        total_amount, discount, gross_margin, source_systeme
    )
    SELECT 
        t.transaction_id, t.date_transaction, t.product_code, t.store_code, 
        t.customer_code, t.employee_code, t.quantity, t.unit_price, 
        t.total_amount, t.discount, 
        (t.total_amount - (p.purchase_price * t.quantity)), -- Calcul de la marge brute
        'Système POS'
    FROM Sourcesystem.pos.transactions t
    JOIN Sourcesystem.inventory.products p ON t.product_code = p.product_code;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Generate_Load_DIM_DATE]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Generate_Load_DIM_DATE]
AS
BEGIN
    DECLARE @StartDate DATE = '2010-01-01';
    DECLARE @EndDate DATE = DATEADD(YEAR, 10, GETDATE());
    
    -- Nettoyer la table de staging
    TRUNCATE TABLE staging.dates;
    
    -- Générer les dates dans la table de staging
    DECLARE @CurrentDate DATE = @StartDate;
    WHILE @CurrentDate <= @EndDate
    BEGIN
        INSERT INTO staging.dates (
            full_date, day, day_of_week, week_number, month,
            month_name, quarter, year, is_holiday, season,
            source_systeme
        )
        SELECT 
            @CurrentDate,
            DAY(@CurrentDate),
            DATENAME(WEEKDAY, @CurrentDate),
            DATEPART(WEEK, @CurrentDate),
            MONTH(@CurrentDate),
            DATENAME(MONTH, @CurrentDate),
            DATEPART(QUARTER, @CurrentDate),
            YEAR(@CurrentDate),
            0, -- Mettre à jour les jours fériés séparément
            CASE 
                WHEN MONTH(@CurrentDate) IN (12, 1, 2) THEN 'Hiver'
                WHEN MONTH(@CurrentDate) IN (3, 4, 5) THEN 'Printemps'
                WHEN MONTH(@CurrentDate) IN (6, 7, 8) THEN 'Été'
                ELSE 'Automne'
            END,
            'Génération ETL'
        
        SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate);
    END;
    
    -- Charger dans la dimension Date (uniquement les nouvelles dates)
    INSERT INTO DIM_DATE (
        ID_Date, Date_Complete, Jour, Jour_Semaine, Semaine,
        Mois, Trimestre, Annee, Est_Jour_Ferie, Saison
    )
    SELECT 
        CONVERT(INT, CONVERT(VARCHAR, stg.full_date, 112)), -- Format YYYYMMDD
        stg.full_date,
        stg.day,
        stg.day_of_week,
        stg.week_number,
        stg.month,
        stg.quarter,
        stg.year,
        stg.is_holiday,
        stg.season
    FROM staging.dates stg
    LEFT JOIN DIM_DATE dim ON 
        CONVERT(INT, CONVERT(VARCHAR, stg.full_date, 112)) = dim.ID_Date
    WHERE dim.ID_Date IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Load_DIM_CLIENT]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Load_DIM_CLIENT]
AS
BEGIN
    -- Mise à jour des clients existants
    UPDATE dim
    SET 
        Nom = stg.last_name,
        Prenom = stg.first_name,
        Email = stg.email,
        Telephone = stg.phone,
        Adresse = stg.address,
        Ville = stg.city,
        Region = stg.region,
        Pays = stg.country,
        Code_Postal = stg.postal_code,
        Date_Inscription = stg.registration_date,
        Segment_Client = stg.customer_segment,
        Tranche_Age = stg.age_group,
        Genre = stg.gender
    FROM DIM_CLIENT dim
    INNER JOIN staging.customers stg ON dim.Code_Client = stg.customer_code;
    
    -- Insertion des nouveaux clients
    INSERT INTO DIM_CLIENT (
        Code_Client, Nom, Prenom, Email, Telephone,
        Adresse, Ville, Region, Pays, Code_Postal,
        Date_Inscription, Segment_Client, Tranche_Age, Genre
    )
    SELECT 
        stg.customer_code, stg.last_name, stg.first_name, stg.email, stg.phone,
        stg.address, stg.city, stg.region, stg.country, stg.postal_code,
        stg.registration_date, stg.customer_segment, stg.age_group, stg.gender
    FROM staging.customers stg
    LEFT JOIN DIM_CLIENT dim ON stg.customer_code = dim.Code_Client
    WHERE dim.ID_Client IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Load_DIM_EMPLOYE]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Load_DIM_EMPLOYE]
AS
BEGIN
    -- Mise à jour des employés existants
    UPDATE dim
    SET 
        Nom = stg.last_name,
        Prenom = stg.first_name,
        Date_Embauche = stg.hire_date,
        Fonction = stg.position,
        Departement = stg.department,
        Manager_ID = stg.manager_code,  -- Plus besoin de conversion
        Salaire_Base = stg.base_salary,
        Commission = stg.commission_rate
    FROM DIM_EMPLOYE dim
    INNER JOIN staging.employees stg ON dim.Code_Employe = stg.employee_code;
    
    -- Insertion des nouveaux employés
    INSERT INTO DIM_EMPLOYE (
        Code_Employe, Nom, Prenom, Date_Embauche, Fonction,
        Departement, Manager_ID, Salaire_Base, Commission
    )
    SELECT 
        stg.employee_code, 
        stg.last_name, 
        stg.first_name, 
        stg.hire_date, 
        stg.position,
        stg.department, 
        stg.manager_code,  -- Plus besoin de conversion
        stg.base_salary, 
        stg.commission_rate
    FROM staging.employees stg
    LEFT JOIN DIM_EMPLOYE dim ON stg.employee_code = dim.Code_Employe
    WHERE dim.ID_Employe IS NULL;
END;

GO
/****** Object:  StoredProcedure [dbo].[ETL_Load_DIM_MAGASIN]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Load_DIM_MAGASIN]
AS
BEGIN
    -- Mise à jour des magasins existants
    UPDATE dim
    SET 
        Nom_Magasin = stg.store_name,
        Adresse = stg.address,
        Ville = stg.city,
        Region = stg.region,
        Pays = stg.country,
        Code_Postal = stg.postal_code,
        Type_Magasin = stg.store_type,
        Surface = stg.area,
        Date_Ouverture = stg.opening_date,
        Gestionnaire = stg.manager
    FROM DIM_MAGASIN dim
    INNER JOIN staging.stores stg ON dim.Code_Magasin = stg.store_code;
    
    -- Insertion des nouveaux magasins
    INSERT INTO DIM_MAGASIN (
        Code_Magasin, Nom_Magasin, Adresse, Ville, Region, 
        Pays, Code_Postal, Type_Magasin, Surface, Date_Ouverture, 
        Gestionnaire
    )
    SELECT 
        stg.store_code, stg.store_name, stg.address, stg.city, stg.region, 
        stg.country, stg.postal_code, stg.store_type, stg.area, stg.opening_date, 
        stg.manager
    FROM staging.stores stg
    LEFT JOIN DIM_MAGASIN dim ON stg.store_code = dim.Code_Magasin
    WHERE dim.ID_Magasin IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Load_DIM_PRODUIT]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Load_DIM_PRODUIT]
AS
BEGIN
    -- Mise à jour des produits existants
    UPDATE dim
    SET 
        Nom_Produit = stg.product_name,
        Description = stg.description,
        Marque = stg.brand,
        Fournisseur = stg.supplier,
        Categorie = stg.category,
        Sous_Categorie = stg.subcategory,
        Prix_Achat = stg.purchase_price,
        Prix_Vente_Conseille = stg.suggested_retail_price,
        Taille = stg.size,
        Couleur = stg.color,
        Poids = stg.weight
    FROM DIM_PRODUIT dim
    INNER JOIN staging.products stg ON dim.Code_Produit = stg.product_code;
    
    -- Insertion des nouveaux produits
    INSERT INTO DIM_PRODUIT (
        Code_Produit, Nom_Produit, Description, Marque, Fournisseur, 
        Categorie, Sous_Categorie, Prix_Achat, Prix_Vente_Conseille, 
        Taille, Couleur, Poids
    )
    SELECT 
        stg.product_code, stg.product_name, stg.description, stg.brand, stg.supplier, 
        stg.category, stg.subcategory, stg.purchase_price, stg.suggested_retail_price, 
        stg.size, stg.color, stg.weight
    FROM staging.products stg
    LEFT JOIN DIM_PRODUIT dim ON stg.product_code = dim.Code_Produit
    WHERE dim.ID_Produit IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Load_FAIT_VENTES]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ETL_Load_FAIT_VENTES]
AS
BEGIN
    -- Insertion des nouvelles ventes
    INSERT INTO FAIT_VENTES (
        ID_Date, ID_Produit, ID_Magasin, ID_Client, ID_Employe,
        Quantite_Vendue, Prix_Unitaire, Montant_Total, Remise, Marge_Brute
    )
    SELECT 
        -- Conversion de la date au format YYYYMMDD pour joindre avec DIM_DATE
        CONVERT(INT, CONVERT(VARCHAR, t.date_transaction, 112)),
        p.ID_Produit,
        m.ID_Magasin,
        c.ID_Client,
        e.ID_Employe,
        t.quantity,
        t.unit_price,
        t.total_amount,
        t.discount,
        t.gross_margin
    FROM staging.transactions t
    JOIN DIM_PRODUIT p ON t.product_code = p.Code_Produit
    JOIN DIM_MAGASIN m ON t.store_code = m.Code_Magasin
    JOIN DIM_CLIENT c ON t.customer_code = c.Code_Client
    JOIN DIM_EMPLOYE e ON t.employee_code = e.Code_Employe
    LEFT JOIN FAIT_VENTES fv ON 
        fv.ID_Date = CONVERT(INT, CONVERT(VARCHAR, t.date_transaction, 112)) AND
        fv.ID_Produit = p.ID_Produit AND
        fv.ID_Magasin = m.ID_Magasin AND
        fv.ID_Client = c.ID_Client AND
        t.transaction_id = fv.ID_Vente
    WHERE fv.ID_Vente IS NULL; -- Ne charger que les nouvelles transactions
END;
GO
/****** Object:  StoredProcedure [dbo].[ETL_Master_Process]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procédure maître ETL modifiée
CREATE PROCEDURE [dbo].[ETL_Master_Process]
AS
BEGIN
    -- Extraire les données des dimensions
    EXEC ETL_Extract_Products;
    EXEC ETL_Extract_Stores;
    EXEC ETL_Extract_Customers;
    EXEC ETL_Extract_Employees;
    
    -- Charger les dimensions
    EXEC ETL_Load_DIM_PRODUIT;
    EXEC ETL_Load_DIM_MAGASIN;
    EXEC ETL_Load_DIM_CLIENT;
    EXEC ETL_Load_DIM_EMPLOYE;
    
    -- Extraire les transactions
    EXEC ETL_Extract_Transactions;
    
    -- Charger la table de faits
    EXEC ETL_Load_FAIT_VENTES;
    
    PRINT 'Processus ETL terminé avec succès';
END;

GO
/****** Object:  StoredProcedure [dbo].[PopulerDimDate]    Script Date: 02/05/2025 11:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PopulerDimDate]
    @DateDebut DATE,
    @DateFin DATE
AS
BEGIN
    DECLARE @DateCourante DATE = @DateDebut;
    
    WHILE @DateCourante <= @DateFin
    BEGIN
        INSERT INTO DIM_DATE (
            ID_Date,
            Date_Complete,
            Jour,
            Jour_Semaine,
            Semaine,
            Mois,
            Nom_Mois,
            Trimestre,
            Annee,
            Est_Jour_Ferie,
            Saison
        )
        VALUES (
            CONVERT(INT, CONVERT(VARCHAR, @DateCourante, 112)),  -- Format YYYYMMDD
            @DateCourante,
            DAY(@DateCourante),
            DATENAME(WEEKDAY, @DateCourante),
            DATEPART(WEEK, @DateCourante),
            MONTH(@DateCourante),
            DATENAME(MONTH, @DateCourante),
            DATEPART(QUARTER, @DateCourante),
            YEAR(@DateCourante),
            0, -- Par défaut non férié, à mettre à jour séparément
            CASE 
                WHEN MONTH(@DateCourante) IN (12, 1, 2) THEN 'Hiver'
                WHEN MONTH(@DateCourante) IN (3, 4, 5) THEN 'Printemps'
                WHEN MONTH(@DateCourante) IN (6, 7, 8) THEN 'Été'
                ELSE 'Automne'
            END
        );
        
        SET @DateCourante = DATEADD(DAY, 1, @DateCourante);
    END;
END;
GO
USE [master]
GO
